@model Sistema_Patrimonio.Models.DbPatrimonio

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar Patrimonio</h1>

<h3>Você tem certeza que deseja deletar?</h3>
<div>
    <h4>DbPatrimonio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Número da Etiqueta:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numetiqueta)
        </dd>
        <dt class = "col-sm-2">
            Nome do Patrimonio:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomepatrimonio)
        </dd>
        <dt class = "col-sm-2">
            Descrição:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricaopatrimonio)
        </dd>
        <dt class = "col-sm-2">
            Valor:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valorpatrimonio)
        </dd>
        <dt class = "col-sm-2">
            Categoria:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idcategoria)
        </dd>
        <dt class = "col-sm-2">
            Departamento:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.iddepartamento)
        </dd>
        <dt class = "col-sm-2">
            Local:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idlocal)
        </dd>
        <dt class = "col-sm-2">
            Marca/Modelo:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.marcamodelo)
        </dd>
        <dt class = "col-sm-2">
            Data de Aquisição:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataaquisicao)
        </dd>
        <dt class = "col-sm-2">
            Data de Baixa:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.databaixa)
        </dd>
        <dt class = "col-sm-2">
            Número:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numnf)
        </dd>
        <dt class = "col-sm-2">
            Série:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.numserie)
        </dd>
        <dt class = "col-sm-2">
            Situação:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.situacao)
        </dd>
        <dt class = "col-sm-2">
            Fornecedor:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idfornecedor)
        </dd>
        <dt class = "col-sm-2">
            Data de Garantia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datagarantia)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="idpatrimonio" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-dark">Voltar</a>
    </form>
</div>
